#estamosen {
    color: crimson;
    padding-left: 25%;
    background-color: black;


}

#medrano {
    color: rgb(255, 255, 255);

    background-color: black;
    padding-left: 25%;

}



.iframe {
    background-color: black;
    padding-top: 5%;
    padding-left: 25%;
    padding-bottom: 60px;
    align-items: center;

}

.footeruno {
    display: flex;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    list-style-type: none;
    justify-content: space-around;
    padding: 0%;

}
#estamosen {
    color: crimson;
    padding-left: 25%;
    background-color: black;


}

#medrano {
    color: rgb(255, 255, 255);

    background-color: black;
    padding-left: 25%;

}



.iframe {
    background-color: black;
    padding-top: 5%;
    padding-left: 25%;
    padding-bottom: 60px;
    align-items: center;

}

.footeruno {
    display: flex;
    background-color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    list-style-type: none;
    justify-content: space-around;
    padding: 0%;

}

.container-info .footer-info {

    grid-column: 1/6;
    background-color: rgb(255, 0, 0);

}

.footer-info {
    height: 80px;
}

